@charset "UTF-8";

/*shoppingTop.jsp*/
.div_top_img{
	float: left;
	margin-top : 10px;
	border : solid 1px;
	margin-left: 350px;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	
}
.div_top_menu1{
	float: left;
	margin-top : 15px;
	width: 55px;
	height: 40px;
	text-align: center;
}

.div_top_menu2_start{
	float: left;
	margin-top : 15px;
	margin-left: 180px;
	margin-right : 10px;
	width: 55px;
	height: 40px;
	text-align: center;
	font-size: 12px;
	
}

.div_top_menu2{
	float: left;
	margin-top : 15px;
	margin-left : 10px;
	margin-right : 10px;
	width: 55px;
	height: 40px;
	text-align: center;
	font-size: 12px;
}

.h5_top_menu{
	margin-top : 15px;
}

.a_top_menu{
	text-decoration: none;
	color: black;
}

.a_top_menu2{
	text-decoration: none;
	color: black;
}

.div_top_search{
	float: left;
	margin-left : 10px;
	margin-right : 10px;
	width: 300px;
	height: 40px;
	text-align: center;
	font-size: 16px;
}

.Top_serch_text{
	margin-top : 15px;
	margin-left : 10px;
	height: 25px;
}

.Top_search_img{
	float:inherit;
	border: none;
    margin: 0;
    background-color: transparent;
}

.div_top_hr{
	clear: both;
	height: 30;
}

/*body.jsp*/
.body_div_img1{text-align: center; }

/*footer.jsp*/
.ft{background-color: #F4F4F4;}
.ft_div1{text-align: center;}
.ft_table{width: 1200px; height: 300px; margin-left: auto; margin-right: auto;}
.ft_a{text-decoration: none; color: black; font-size: 12px;}
.ft_td1{}
.ft_td2{font-size: 12px;}
.ft_tr2{width: 570px;}


/*login.jsp*/

.login_div{width: 500px; height: 500px; text-align: center;}
.login_table{width: 400px; height: 400px; text-align: center; margin-left: auto; margin-right: auto; border: solid 1px; margin-top: 30px;}
.login_logo{text-align: left; height: 20px; padding: 0px; margin-bottom: 0px; border-bottom: solid 1px; border-color: gray;}
.login_radio{text-align: right; height: 40px;}
.login_td1{text-align: center; height: 40px;}
.login_input_text{width: 80%; height:30px;}
.login_button{width: 80%; height:40px; background-color: red; color: white; border: 0px; outline: 0px;}
.a_login_td3{text-decoration: none; color: black; font-size: 12px;
}

/*memberShipJoin.jsp*/
.memberShipJoin_table{width: 700px; height: 400px; margin-top: 50px; border-bottom: solid;1px; border-top:solid 1px;
						margin-left: auto; margin-right: auto; margin-top: 100px;}
.memberShipJoin_p{te}
.memberShipJoin_td1{width: 200px; border-right: 1px solid; border-bottom:solid 1px; font-size: 12px;}
.memberShipJoin_td2{width: 250px; border-bottom:solid 1px;}
.memberShipJoin_td3{width: 350px; border-bottom:solid 1px;}
.memberShipJoin_inputText{height: 30px; margin-left: 10px;}
