.myPage a:link, a:visited{/*link 하이퍼 링크가 걸린 상태 visited 클릭을 한 이후의 상태  */
  text-align: center;
  display: inline-block;  /*블럭형태의 영역*/
  text-decoration: none;  /*밑줄 제거*/
  color: black;
  /* color: black;   글씨 색 */
}

.myPage .myPagebox{
  margin: 30px auto;
  width:  1600px;
  font-size: 0px;
}

.myPage .myPagebox .myPageMenu{
  border: 1px solid black;
  width:  220px;
  height: 900px;
  margin-right: 19px;
  margin-top:80px;
  float: left;
}

.myPage .myPageMenu-resume{
  /* border: 1px solid black; */
  width: 1350px;
  display: inline-block;
}

/* myPageMenu */

.myPage .myPageMenu h2{
  font-size: 25px;
  padding: 20px 10px;
}

.myPage .myPageMenu h3{
  font-size: 21px;
  padding: 0px 10px;
}

.myPage .myPageMenu ul{
  margin: 15px 0;
  list-style-type: none;
  padding: 0px;
}
.myPage .myPageMenu ul li{
  box-sizing: border-box;
  padding: 5px 30px;
  font-size: 18px;
  color: gray;
  width: 220px;
}
.myPageMenu a:hover{
  color: blue;
}

/* SelfIntroList*/

.myPage .selfIntro{
  width: 1340px;
  height: 100%;
  float:left;
  margin-top: 80px;
}

.selfIntro h1{
  margin: 0px 44px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  border: 1px solid black;
  padding-top: 50px;
  background-color: #f9f9f9;
}

.selfIntro h2{
  margin: 20px 50px;
  font-size: 20px;
  font-weight: bold;
}

.selfIntro .list{
	width: 1250px;
	height: 745px;
	border: 1px solid black;
	margin: 0px auto;
}

.list ul{
	list-style-type: none;
	width: 620px;
	margin: 0px auto;
}

.list li{
	box-sizing: border-box;
	border: 1px solid black;
	font-size:18px;
	float: left;
}
.list .li1{
	width: 100px;
	height: 30px;
	text-align: center;
}
.list .li2{
	width: 450px;
	height: 30px;
}
.list .li3{
	width: 50px;
	height: 30px;
	border: 0px;
	margin-left: 20px;
}

.list .height{
	height: 50px;
}

.list .delete{
	width: 100px;
	height: 30px;
}

.list .div-button{
	clear: both;
	text-align: center;
	padding-top: 50px;
}





